html {
    margin: 0 auto;
    max-width: 1440px;
    animation: animatedBackground 7s linear infinite alternate;
}

body {
    background-image: url("./homepage-background-min.png");
    background-position: left top;
    position: absolute;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 100vw 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes animatedBackground {
    from {
      backdrop-filter: blur(10px);
    }
    to {
      backdrop-filter: none;
    }
  }

.homepage-container {
    overflow-x: auto;
    position: relative;
}

.card-location {
    float: left;
    position: absolute;
    z-index: 1000;
    width: 350px;
    opacity: 0.8;
    margin: 0;
    opacity: 0.9;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background-color: palegoldenrod;
}

.profile-pic {
    padding-left: 15px;
    width: 170px;
    position: absolute;
}

.specimen-name {
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1200;
    text-shadow: 4px 4px 8px palegoldenrod;
}

.accordion-custom-scroll {
    max-height: 250px;
    overflow-y: auto;
    background-color: palegoldenrod;
}

#accordionExampleOne {
    z-index: 1300;
}

.resume-button {
    background-color: palegoldenrod;
    border-radius: 15px;
    z-index: 1000;
}